@import "../../styles/variables";

.score {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $main-color;
  text-shadow: 1px 1px 5px $background-color;
  letter-spacing: 1px;
  font-size: $big-size;
  pointer-events: none;
}
