@import "../../styles/variables", "../../styles/extends";

.information-container {
  width: 600px;
  padding: 1rem;
}

.game-information {
  &__description {
    color: $main-color;
    font-family: $main-font;
    font-size: $normal-size;
    margin-top: 3rem;
  }

  &__game-link {
    text-decoration: none;
    color: $main-color;
    font-weight: bold;

    &:hover {
      color: $detail-color;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }

  &__demos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;

    & * {
      margin: 0 5px;
    }
  }
}

.web-title {
  &__main-title {
    color: $main-color;
    font-family: $main-font;
    font-size: $title-size;
    font-weight: bold;
  }
  &__subtitle {
    color: $main-color;
    font-family: $main-font;
    font-size: $big-size;
  }
}

.button {
  @extend %button;
}

.add-button {
  background-color: $main-color;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border: none;
}
