@import "./styles/reset", "./styles/variables";

.main {
  width: 100vw;
  min-width: 1300px;
  background-color: $background-color;
  display: flex;
  justify-content: space-around;
  font-family: $main-font;
}
